<form [formGroup]="authForm">
  <ion-item *ngIf="showRegisForm">
    <ion-label position="floating"
      >Telefono <ion-text color="danger">*</ion-text></ion-label
    >
    <ion-input formControlName="telefono" type="text"></ion-input>
  </ion-item>
  <ion-item *ngIf="showLoginForm || showRegisForm || showValidForm">
    <ion-label position="floating"
      >Usuario <ion-text color="danger">*</ion-text></ion-label
    >
    <ion-input formControlName="usuario" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="primary" class="ion-margin-top"
      >Contraseña  <ion-text color="danger">*</ion-text> </ion-label  >
    <ion-button
      (click)="changePass(PassIcon, PassInput)"
      slot="end"
      fill="clear"
      shape="round"
      class="ion-margin-top"
    >
      <ion-icon
        slot="icon-only"
        #PassIcon
        color="primary"
        name="eye"
      ></ion-icon>
    </ion-button>

    <ion-input
      formControlName="pwd"
      [debounce]="debounce"
      type="password"
      #PassInput
      class="form-controll"
    ></ion-input>
  </ion-item>

  <ion-item *ngIf="showChangeForm">
    <ion-label position="floating" color="primary" class="ion-margin-top"
      >Contraseña <ion-text color="danger">*</ion-text> </ion-label
    >
    <ion-button
      (click)="changePass(PassIcon2, PassInput2)"
      slot="end"
      fill="clear"
      shape="round"
      class="ion-margin-top"
    >
      <ion-icon
        slot="icon-only"
        #PassIcon2
        color="primary"
        name="eye"
      ></ion-icon>
    </ion-button>

    <ion-input
      formControlName="nwpwd"
      [debounce]="debounce"
      type="password"
      #PassInput2
      class="form-controll"
    ></ion-input>
  </ion-item>

  <ion-item lines='none' class="ion-text-center">
    <ion-label *ngIf="showRegisForm" >
      IMEI <ion-text color="primary">{{ imei }}</ion-text>
    </ion-label>
  </ion-item>



  <ion-row>
    <ion-col>
      <ion-button
        [disabled]="authForm.invalid"
        expand='block'
        color="primary"
        type="submit"
        (click)="emitOK()"
        expand='block'
      >
        Entrar
      </ion-button>
    </ion-col>
    <ion-col *ngIf="cancel">
      <ion-button expand='block' color="danger" type="submit" (click)="clEmit.emit()">
        Cancelar
      </ion-button>
    </ion-col>
  </ion-row>

  <ng-content *ngIf="isCordova && imei" select=".registrar"></ng-content>

</form>
