<form>
  <ng-content select=".telefono"></ng-content>

  <ion-item>
    <ion-label position="floating"
      >E-Mail <ion-text color="danger">*</ion-text></ion-label
    >
    <ion-input required type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="primary" class="ion-margin-top"
      >Contraseña</ion-label
    >
    <ion-button
      (click)="changePass(PassIcon, PassInput)"
      slot="end"
      fill="clear"
      shape="round"
      class="ion-margin-top"
    >
      <ion-icon
        slot="icon-only"
        #PassIcon
        color="primary"
        name="eye"
      ></ion-icon>
    </ion-button>

    <ion-input type="password" #PassInput class="form-controll"></ion-input>
  </ion-item>

  <ion-label *ngIf="imei">IMEI {{ "34KL23K2L23O4O0" }}</ion-label>
  <ng-content select=".registrar"></ng-content>

  <ion-row>
    <ion-col>
      <ion-button block color="primary" type="submit" (click)="okEmit.emit()">
        Entrar
      </ion-button>
    </ion-col>
    <ion-col *ngIf="cancel">
      <ion-button block color="danger" type="submit" (click)="clEmit.emit()">
        Cancelar
      </ion-button>
    </ion-col>
  </ion-row>
</form>
