<ion-list class="ion-text-left">
  <ion-item
    (click)="dismis()"
    routerLink="passchange"
    class="ion-activatable ripple-parent ion-no-padding"
    lines="full"
  >
    <ion-label class="ion-padding-start">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-text color="primary"> Cambiar Contraseña </ion-text>
    </ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>

  <ion-item
    (click)="popRef.dismiss()"
    routerLink="myprofile"
    class="ion-activatable ripple-parent ion-no-padding"
    lines="full"
  >
    <ion-label class="ion-padding-start">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-text color="primary"> Mi Perfil </ion-text>
    </ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>

  <ion-item
    (click)="popRef.dismiss()"
    routerLink="token"
    class="ion-activatable ripple-parent ion-no-padding"
    lines="full"
  >
    <ion-label class="ion-padding-start">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-text color="primary"> Token Movil </ion-text>
    </ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>

  <ion-item
    (click)="popRef.dismiss()"
    routerLink="contacts"
    class="ion-activatable ripple-parent ion-no-padding"
    lines="full"
  >
    <ion-label class="ion-padding-start">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-text color="primary"> Agregar contacto </ion-text>
    </ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>
</ion-list>
