<ion-header>
  <app-general-banner></app-general-banner>
  <app-menubar [lens]="len" (selectedTabEmitter)="moveTo($event)">
  </app-menubar>
</ion-header>

<ion-content forceOverscroll="true" fullscreen="true" color="primary">


  <ion-slides >
    <ion-slide>
      <ion-list  class="ion-no-margin"  style="height: 100%; background-color: transparent;">

        <ion-card  *ngFor="let item of items">

          <app-general-item
          [transType]='transType'

            class="ion-activatable ripple-parent"
            [item]="item"
          >
          </app-general-item>
        </ion-card>

    </ion-list>

    <app-general-empty *ngIf="!items.length"></app-general-empty>
    </ion-slide>
  </ion-slides>
</ion-content>
