<ion-header>
  <app-general-banner></app-general-banner>
  <app-menubar (selectedTabEmitter)="moveTo($event)"></app-menubar>
</ion-header>

<ion-content>
  <ion-slides mode="md" style="width: 100% !important">
    <ion-slide *ngFor="let slide of slides" style="width: 100% !important">
      <ion-list class="ion-no-margin" style="background-color: gray">
        <app-general-item
          (itemClicked)="detailsOf($event)"
          *ngFor="let item of items"
          class="ion-activatable ripple-parent"
          [item]="item"
        >
        </app-general-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
